Sys.setenv("CLOVOC_BASE_URL" = "https://clovoc-api-fhir-service-dev.kf-strides.org/")
Sys.setenv("CLOVOC_ACCESS_URL" = "https://kf-keycloak-qa.kf-strides.org/auth/")
Sys.setenv("CLOVOC_AUTH_URL" = "https://kf-keycloak-qa.kf-strides.org/auth/")
Sys.setenv("CLOVOC_ID" = "XXXXXXXXX")
Sys.setenv("CLOVOC_SECRET" = "XXXXXXXXX")
Sys.setenv("INCLUDE_BASE_URL" = "https://include-api-fhir-service.includecc.org/")
Sys.setenv("INCLUDE_ACCESS_URL" = "https://keycloak.includedcc.org/auth/")
Sys.setenv("INCLUDE_AUTH_URL" = "https://keycloak.includedcc.org/auth/")
Sys.setenv("INCLUDE_ID" = "XXXXXXXXX")
Sys.setenv("INCLUDE_SECRET" = "XXXXXXXXX")

source("renv/activate.R")
